@import 'app/assets/styles/variables';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply text-base font-light tracking-wider text-dark-d;
}

.disabled {
	pointer-events: none;
	cursor: default;
	text-decoration: none;
	opacity: 0.2 !important;
}
